{% extends 'blog/base.html' %}

{% block content %}

    {% load staticfiles %}
    <div class = "post">
        <h2>About Me</h2>
        <p>{{ content|linebreaksbr }}</p>
        <p><a href="https://www.linkedin.com/in/sam-ogonovsky-b394671a1/"><img src="{% static 'images/LI-In-Bug.png' %}" alt="LinkedIn" width="75" height="64"/></a></p>
        <p><a href="https://github.com/samogonovsky"><img src= "{% static 'images/GitHub-Mark-64px.png' %}" alt="GitHub" width="64" height="64"/></a></p>
    </div>
{% endblock %}