.page-header {
    background-color: #f03c3c;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    height:200px
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page_header h1 a:active{
    color: #ffffff;
    font-size: 72pt;
    text-decoration: none;
}

body {
    background-color: #edd48e;
}

.content {
    margin-left: 40px;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    src: url('../fonts/OpenSans-Regular.ttf') format("truetype");
}

h2, h3, h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    src: url('../fonts/OpenSans-Light.ttf')format("truetype");
}

p {
    font-family: 'Raleway', sans-serif;
    src: url('../fonts/Raleway-Regular.ttf') format("truetype");
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
    margin-bottom: 20px;

}

.post {
    margin-left: 20px;
    margin-bottom: 70px;
}

.post h2 a, .post h2 a:visited {
    color: #000000
}